// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

@import "../../node_modules/mathsass/dist/math";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  byme-black: rgba(0, 0, 0, 1),
  byme-black-dark: rgba(0, 0, 0, .87),
  byme-black-disabled: rgba(0, 0, 0, .5),
  byme-black-light: rgba(0, 0, 0, .7),
  byme-black-opacity: rgba(0, 0, 0, .3),
  byme-black-thin: rgba(0, 0, 0, .12),
  byme-blue:  rgba(33, 150, 243, 1),
  byme-blue-disabled: rgba(33, 150, 243, .5),
  byme-blue-light: rgba(33, 150, 243, .7),
  byme-blue-opacity: rgba(33, 150, 243, .3),
  byme-error: rgba(213, 0, 0, 1),
  byme-pink:  rgba(255, 64, 129, 1),
  byme-pink-disabled:  rgba(255, 64, 129, .5),
  byme-pink-light:  rgba(255, 64, 129, .7),
  byme-pink-opacity:  rgba(255, 64, 129, .3),
  byme-white: rgba(255, 255, 255, 1),
  byme-white-dark: rgba(255, 255, 255, .85),
  byme-white-disabled: rgba(255, 255, 255, .5),
  byme-white-light: rgba(255, 255, 255, .7),
  byme-white-opacity: rgba(255, 255, 255, .3),
);

:root {
  --animation-time: .3s;
}


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
