<div class="float-button" id="float-button" (click)="activeMenu()">
    <nav class="circular-menu" id="circular-menu">
        <ul>
            <li>
                <a href="#">
                    <i class="material-icons ionic_icon">add_a_photo</i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons ionic_icon">add_location</i>
                </a>
            </li>
            <!-- <li>
                <a href="#">
                    <i class="material-icons ionic_icon">perm_identity</i>
                </a>
            </li> -->
            <li>
                <a href="#">
                    <i class="material-icons ionic_icon">settings</i>
                </a>
            </li>
        </ul>
    </nav>
</div>